# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# IDE files
.vscode/
.idea/
*.swp

# OS system files
.DS_Store
Thumbs.db
